<h1>Причалы</h1>

<table mat-table [dataSource]="docks" class="mat-elevation-z8">

  <!-- ID -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Номер</th>
    <td mat-cell *matCellDef="let dock">{{dock.id}}</td>
  </ng-container>

  <!-- SIZE -->
  <ng-container matColumnDef="size">
    <th mat-header-cell *matHeaderCellDef>Размер</th>
    <td mat-cell *matCellDef="let dock">{{dock.size}}</td>
  </ng-container>

  <!--DETAIL -->
  <ng-container matColumnDef="detail">
    <th mat-header-cell *matHeaderCellDef>Редактировать</th>
    <td mat-cell *matCellDef="let dock">
      <a routerLink="/docks/detail/{{dock.id}}">
        <fa-icon [icon]="icons.get('detail')" size="lg"></fa-icon>
      </a>
    </td>
  </ng-container>

  <!-- DELETE -->
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>Удалить</th>
    <td mat-cell *matCellDef="let dock">
      <a>
        <fa-icon [icon]="icons.get('delete')" size="lg" (click)="deleteDock(dock.id)"></fa-icon>
      </a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
